<div id="confirmDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">Confirmação</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body"></div>

          <div class="modal-footer">
              <a id="delete" class="btn btn-danger" href="javascript:void(0);">Sim</a>
          </div>
        </div>
      </div>
    </div>


<div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalToggleLabel">Confirmação</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body"></div>

          <div class="modal-footer">
              <a id="yes" class="btn btn-primary" href="javascript:void(0);">Ok</a>
              <a id="no" class="btn btn-danger nok" href="javascript:void(0);">NOK</a>
          </div>
        </div>
      </div>
    </div>
