<div class="row">
    {% for field in form %}
    {% if field.name != 'csrf_token' and field.name != 'uuid' and field.name != 'submit' %}
    <div class="col-lg-6 order-0">
        <div id="div-{{field.name}}" class="form-group mb-2">
            {{ field.label(class="col-form-label", for=field.name) }}
            {{ field(class="form-control input-error", placeholder=field.label.text.upper(), id=field.name) }}
        </div>
    </div>
    {% endif %}
    {% if loop.index is divisibleby 2 %}
    </div><div class="row">
    {% endif %}
    {% endfor %}
</div>

<div class="row">
    <div class="col-lg-12 order-0 text-end">
        <button type="button" class="btn btn-danger waves-effect waves-light cancel">Cancelar</button>
        {{ form.submit(class="btn btn-primary waves-effect waves-light") }}
    </div>
</div>
