{% extends 'webui/index.html' %}
{% block title %}{{config.get('TITLE')}}{% endblock %}


{% block content %}

    <div id="steps" class="row">

        <!-- Step -->
        <div class="col-lg-12 mb-4 order-0">
            <div id="item-detalhe" class="card mb-4">
            </div>
        </div>

        <!-- Hitoric -->
        <div class="col-lg-12 mb-4 order-0">
            <div id="item-historic" class="card mb-4">
                {% include 'historic/historic.html' %}
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function() {
            loadDetailItem('{{item.uuid}}');
        });
    </script>

{% endblock %}