{% extends 'webui/index.html' %}
{% block title %}{{config.get('TITLE')}}{% endblock %}


{% block content %}

    <div id="automations" class="row">

        <!-- Automation -->
        <div class="col-lg-12 mb-4 order-0">
            <div id="automation-detalhe" class="card mb-4">
            </div>
        </div>

        <!-- Owners -->
        <div class="col-lg-12 mb-4 order-0">
            <div id="automation-owners" class="card mb-4">
                {% include 'automations/owners.html' %}
            </div>
        </div>

        <!-- Steps -->
        <div class="col-lg-12 mb-4 order-0">
            <div id="automation-steps" class="card mb-4">
                {% include 'steps/steps.html' %}
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function() {
            loadDetailAutomation('{{ automation.uuid }}');
        });
    </script>

{% endblock %}