<!--Automation Form -->
<div class="row">
    <div class="col-lg-6 order-0">
        <div id="div-{{form.name.id}}" class="form-group mb-2">
            {{ form.name.label(class="col-form-label",for=form.name.data) }}
            {{ form.name(class="form-control input-error", placeholder="Nome") }}

        </div>
    </div>
    <div class="col-lg-6 order-0">
        <div id="div-{{form.acronym.id}}" class="form-group mb-2">
            {{ form.acronym.label(class="col-form-label",for=form.acronym.data) }}
            {{ form.acronym(class="form-control input-error", placeholder="Sigla") }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 order-0">
        <div id="div-{{form.description.id}}" class="form-group mb-2">
            {{ form.description.label(class="col-form-label",for=form.description.data) }}
            {{ form.description(class="form-control input-error", placeholder="Descrição") }}

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 order-0 text-end">
        <button type="button" class="btn btn-danger waves-effect waves-light cancel">Cancelar</button>
        {{ form.submit(class="btn btn-primary waves-effect waves-light") }}
    </div>
</div>

