  <!-- Automation -->
    <div class="col-lg-8 mb-4 order-0">
            <div id="automation-detalhe" class="card mb-4">
                <div class="card-header pt-10 pb-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <nav aria-label="Page navigation">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <h5 class="flex-shrink-0">{{ automation.name }}</h5>
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-end">
                                            <li class="breadcrumb-item">
                                                <a href="{{url_for('automations.edit_automation', uuid=automation.uuid)}}" type="button" class="btn p-0 text-info pull-up-full">
                                                    <i class="bx bx-xs bx-edit"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 order-0 mb-4">
                            <label class="col-form-label">UUID</label>
                            <p class="form-control-static">{{ automation.uuid }}</p>
                        </div>
                        <div class="col-lg-4 order-0 mb-4">
                            <label class="col-form-label">Nome</label>
                            <p class="form-control-static">{{ automation.name }}</p>
                        </div>
                        <div class="col-lg-4 order-0 mb-4">
                            <label class="col-form-label">Sigla</label>
                            <p class="form-control-static">{{ automation.acronym }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 order-0">
                            <label class="col-form-label">Descrição</label>
                            <p class="form-control-static">{{ automation.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>